.black {
  background-color: black;
}
.text-center {
  text-align: center;
  color: whitesmoke;
}

.card {
  // margin: 30px;
  height: 38em;
  width: 20em;
  text-align: center;
  background-color: black;

  button {
    margin-right: 8px;
  }

  .title {
    font-weight: bold;
    color: white;
  }

  .subtitle {
    color: whitesmoke;
  }

  .card-img {
    height: 45ch;
    width: 20em;
  }
}

.card:hover {
  cursor: pointer;
}
